---
---

<section id="home" class="relative bg-[#152020] min-h-screen flex items-center justify-center">
    <img class="absolute inset-0 size-full object-cover" src="/homeImg.webp" alt="Portfolio home" />
    <div class="absolute inset-0 bg-[#152020] opacity-50" />
    <div class="relative z-10 text-[#EADFED] text-center font-bold">
        <h1 class="text-5xl">PORTFOLIO</h1>
        <h2 class="text-lg">Progamador y Profesor de Matemática</h2>
    </div>
</section>